.contact_content {
    padding-block: 12rem;

    display: flex;
    flex-direction: column;
    gap: 3.438rem;
}

.contact_mail {
    font-size: 2rem;
    font-weight: 600;
}

.contact_link {
    color: var(--theme-color);
}

.contact_link path {
    fill: var(--theme-color);
}