.post-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.research_pagi_content {
    display: flex;
    gap: 2px;

    padding-top: 2rem;
}

.pagi_box {
    padding: 1rem 1.375rem;
    background-color: #F4F4F4;
}

.pagi_box:hover {
    color: var(--primary-white);
    background-color: var(--theme-color);
    cursor: pointer;
}

.pagi_box_selected {
    color: var(--primary-white);
    background-color: var(--theme-color);
}

.research-marquee {
    margin-top: 3rem;
}