/* rd main */
.jd_main_wrapper {
    padding-top: 80px;
}

.jd_main_content {
    margin-inline: auto;

    width: 54vw;
    max-width: 780px;
}
/* end of rd main */



.jd_title_text {
    font-weight: 700;
    line-height: 3rem;
}


.jd_pos_content {
    padding-block: 1.875rem;

    display: flex;
    flex-direction: column;
    gap: 3.75rem;
}

.pos_summary_content {
    color: var(--secondary-black);
    line-height: 148%;
}

.pos_desc_content {
    display: flex;
    flex-direction: column;
    gap: 2.375rem;
}

.desc_title {
    font-weight: 700;
    margin-bottom: 1rem;
}

.desc_details {
    list-style:disc;
    padding-left: 1.25rem;

    line-height: 148%;
}

.desc_mail_link {
    color: var(--theme-color);
}