.jobs_content {
    padding-block: 1.785rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.jobs_summary {
    color: var(--secondary-black);
    line-height: 148%;
}

.position_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 11rem;
}


/* postion component style */
.pos_wrapper {
    border-bottom: 1px solid var(--tertiary-black);
}

.pos_wrapper:last-of-type {
    border-bottom: none;
}

.pos_content {
    padding-top: 2.938rem;
    padding-bottom: 3.375rem;

    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.pos_tit {
    font-weight: 800;
}

.pos_pub {
    color: var(--secondary-black);
    margin-top: 0.625rem;
}

.pos_sum {
    margin-block: 1.25rem;
    
    line-height: 148%;
}

.pos_loc_content {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.pos_loc_text {
    font-weight: 600;
    text-transform: capitalize;
}