.research_articles_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 2.5rem;
    padding-block: 2.625rem;
}

@media screen and (max-width: 992px) {
    .research_articles_wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 576px) {
    .research_articles_wrapper {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }
}

@media screen and (max-width: 430px) {
    .research_articles_wrapper {
        display: flex;
        flex-direction: column;
    }
}

.research_pagi_content {
    display: flex;
    gap: 2px;

    padding-top: 2rem;
}

.pagi_box {
    padding: 1rem 1.375rem;
    background-color: #F4F4F4;
}

.pagi_box:hover {
    color: var(--primary-white);
    background-color: var(--theme-color);
    cursor: pointer;
}

.pagi_box_selected {
    color: var(--primary-white);
    background-color: var(--theme-color);
}