/* rd main */
.rd_main_wrapper {
    width: 100%;
    padding-top: 80px;
}

.rd_main_content {
    margin-inline: auto;

    width: 54vw;
    max-width: 780px;

    position: relative;
}
/* end of rd main */

.rd_title_wrapper {
    border-bottom: 1px solid var(--primary-black);
}

.rd_title_content {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 5rem;
    padding-bottom: 0.75rem;
}

.rd_title_text {
    margin-bottom: 0.75rem;
    font-weight: 700;
    text-align: center;
}

.rd_title_subtext {
    color: var(--secondary-black);
    text-align: center;
}

.rd_title_links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 3.438rem;
}

.rd_links_back {
    display: flex;
    align-items: center;
    gap: 0.625rem;

    cursor: pointer;
}

.rd_links_back:hover path {
    fill: var(--theme-color);
}

.rd_links_back:hover h4 {
    color: var(--theme-color);
}

.rd_links_sm {
    display: flex;
    gap: 0.875rem;
}

.rd_links_sm svg {
    width: 20px;
    height: 20px;
}




.rd_article_content {
    display:flex;
    flex-direction: column;
    gap: 1.563rem;

    padding-block: 3.125rem;
}

h5 {
    font-size: 1.063rem;
    font-weight: 800;
    line-height: 148%;
}

.rd_article_content ul {
    list-style:disc;
    padding-left: 1.25rem;
}

.rd_article_content p, 
.rd_article_content li {
    font-size: 1.063rem;
    line-height: 148%;
}

.rd_article_content img {
    width: 100%;
    height: auto;

    padding-block: 5px;
}

.rd_related_content {
    display: flex; 
    gap: 6%;
}

.prev_article,
.next_article {
    flex: 1;

    display: flex;
    flex-direction: column;
}

.prev_article {
    align-items: flex-start;

}

.next_article {
    align-items: flex-end;
}

.related_btn {
    display: flex;
    align-items: baseline;
    gap: 1.438rem;

    color: var(--secondary-black);

    margin-top: 2.5rem;
}

.prev_article svg {
    transform: rotateY(180deg);
}

.link_telegram:hover,
.link_share:hover,
.link_facebook:hover,
.link_discord:hover {
    cursor: pointer;
}

.link_telegram:hover rect,
.link_share:hover rect,
.link_facebook:hover rect,
.link_discord:hover rect {
    fill: var(--theme-color);
    cursor: pointer;
}

.tooltip {
    position: relative;

}

.tooltip::before {
    content: attr(tooltip-data);
    
    position: absolute;
    bottom: 145%;
    left: 50%;
    transform: translateX(-50%);

    width: 132px;
    border-radius: 2px;
    text-align: center;


    font-size: 13px;
    font-weight: 700;
    color: var(--primary-white);
    padding-block: 4px;
    background-color: var(--theme-color);

    opacity: 0;
    transition: opacity .5s;
    visibility: hidden;
}

.tooltip:after {
    content: "";
    position: absolute;
    bottom: 105%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    opacity: 0;
    transition: opacity .5s;
    border-color: var(--theme-color) transparent transparent transparent;
    visibility: hidden;
}

.tooltip:hover:before, 
.tooltip:hover:after {
  opacity: 1;
  visibility: visible;
}

.back_to_top_wrapper {
    position: absolute;
    top: 100vh;
    right: -6rem;
    bottom: -6em;
    width: 3em;
    pointer-events: none;
}

.back_to_top_link {
    position: fixed;
    position: sticky;

    pointer-events: all;

    top: calc(100vh - 5rem);

    display: inline-block;
    text-decoration: none;

    text-align: center;
    width: 3rem;
    height: 3rem;
    /* padding: 0.25rem; */

    transition: transform 80ms ease-in;
}

.back_to_top_link:hover {
  transform: scale(1.1);
}