.accordion-item {
    border-bottom: 1px solid var(--tertiary-black);
}


.accordion-item__title {
    padding: 1.125rem clamp(1.375rem, 1.2rem + 0.89vw, 2rem);
    font-size: clamp(1.125rem, 0.7205rem + 1.1236vw, 1.5rem); /* h3 */

    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.accordion-item__title-active {
    color: var(--theme-color);
}

.icon-chevron {
    margin-top: 4px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid var(--tertiary-black);

    transition: all 0.3s ease-out;
}

@media screen and (min-width: 992px) {
    .icon-chevron {
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid var(--tertiary-black);
    }
}

.icon-chevron-active{
    border-top: 0;
    border-bottom: 6px solid var(--theme-color);

    transition: all 0.3s ease-out;
}


/* CSSTransition specific classes starts here */
.accordion-item__content-enter {
    overflow: hidden;
    max-height: 0;
}

.accordion-item__content-enter-active {
    max-height: 1000px;
    transition: all 0.6s ease-in-out;
}

.accordion-item__content-exit {
    max-height: 1000px;
}

.accordion-item__content-exit-active {
    overflow: hidden;
    max-height: 0;
    transition: all 0.4s cubic-bezier(0, 1, 0, 1);
}
/* CSSTransition specific classes ends here */


.holder {
    padding-inline: clamp(1.375rem, 1.2rem + 0.89vw, 2rem);
    margin-top: 0.313rem;
}

.holder ul {
    display: flex;
    flex-direction: column;
}

.holder ul li {
    margin-bottom: 1.438rem;
}

.holder ul li a {
    display: block;
    font-size: clamp(0.9375rem, 0.6004rem + 0.9363vw, 1.25rem);
}
